* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background-color: black;
  font-size: 14px;
  color: white;
  height: 100vh;

  overflow: auto;
  background-image: url("./background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.listCard {
  border: solid darkgray 3px;
  padding: 10px;
  margin: 10px;
  background: black;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container * {
  margin: 10px;
  width: 80%;
}

.errorStatus {
  color: red;
  font-size: 10px;
}

.menu * {
  margin: 2px;
  padding: 2px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
}

.app-register {
  position: relative;
  left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
